configurations input[type=text] {
    color:red
}

canvas {
    border:thin black solid;
    margin: 1%;
}

.panel-heading {
    font-weight: bold;
}

#graph div{
    width:700px;
    height:500px;
    margin-bottom:1%;
}